.material-icons {
  font-size: 1.25rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.navbar-brand {
  font-size: 1.5rem;
  
  .material-icons {
    margin-right: 0.5rem;
  }
}

.badge {
  font-size: 0.7rem;
  right: -10px;
}
